/*
 * Copyright (c) 2020 duckyb
 * SPDX-License-Identifier: MIT
 */

#include "keys_es.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define ALPHA 0
#define NUM 1
#define NAV 2
#define SYM 3
#define CONF 4

&sk {
  lazy;
};

&lt {
  flavor = "hold-preferred";
};

/ {

    behaviors {
          bksp_and_del: bksp_and_del {
              compatible = "zmk,behavior-mod-morph";
              label = "BKSP_AND_DEL";
              bindings = <&kp BACKSPACE>, <&kp DELETE>;

              #binding-cells = <0>;
              mods = <(MOD_LCTL|MOD_RCTL)>;
          };

          lay_2: layer_2_key {
              compatible = "zmk,behavior-hold-tap";
              label = "LAYER_2_KEY";
              bindings = <&mo>, <&bksp_and_del>;

              #binding-cells = <2>;
              tapping-term-ms = <200>;
          };

          super: super {
              compatible = "zmk,behavior-mod-morph";
              label = "BKSP_AND_DEL";
              bindings = <&sk LGUI>, <&kp LGUI>;

              #binding-cells = <0>;
              mods = <(MOD_LGUI)>;
          };
    };

    macros {
          pound: pound {
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp ES_PLUS &kp ES_N0 &kp ES_N0 &kp ES_A &kp ES_N3>
                , <&macro_release &kp LALT>
                ;
          };

          euro: euro {
              compatible = "zmk,behavior-macro";
              #binding-cells = <0>;
              bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp ES_PLUS &kp ES_N2 &kp ES_N0 &kp ES_A &kp ES_C>
                , <&macro_release &kp LALT>
                ;
          };
    };

    conditional_layers {
      compatible = "zmk,conditional-layers";
      nav_layer {
        if-layers = <1 2>;
        then-layer = <3>;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        alpha {
            bindings = <
    &kp ES_Q    &kp ES_W    &kp ES_E    &kp ES_R        &kp ES_T               &kp ES_Y         &kp ES_U    &kp ES_I        &kp ES_O      &kp ES_P
    &kp ES_A    &kp ES_S    &kp ES_D    &kp ES_F        &kp ES_G               &kp ES_H         &kp ES_J    &kp ES_K        &kp ES_L      &kp ES_N_TILDE
    &kp ES_Z    &kp ES_X    &kp ES_C    &kp ES_V        &kp ES_B               &kp ES_N         &kp ES_M    &kp ES_COMMA    &kp ES_DOT    &kp ES_ACUTE
                                        &lay_2 NAV 0    &mt LSHIFT ES_SPACE    &mt LCTRL RET    &lt NUM TAB
            >;
        };

        numbers {
            bindings = <
    &pound       &kp ES_DLLR    &euro           &kp ES_MINUS    &kp ES_FSLH     &kp TAB         &kp ES_LPAR    &kp ES_RPAR     &kp ES_LT     &kp ES_GT
    &kp ES_N1    &kp ES_N2      &kp ES_N3       &kp ES_N4       &kp ES_N5       &kp ES_N6       &kp ES_N7      &kp ES_N8       &kp ES_N9     &kp ES_N0
    &trans       &trans         &kp ES_CARET    &kp ES_PLUS     &kp ES_PRCNT    &kp ES_EQUAL    &kp ES_STAR    &kp ES_COMMA    &kp ES_DOT    &trans
                                              &trans          &trans          &trans          &trans
            >;
        };

        symbols {
            bindings = <
    &trans      &kp RA(ES_N_TILDE)    &kp ES_C_CEDILLA    &kp ES_UNDER    &kp ES_BSLH    &kp ES_ORDM    &kp ES_AT        &kp ES_AMPS    &kp ES_PIPE    &trans
    &trans      &kp ES_NOT            &kp ES_IQMARK       &kp ES_QMARK    &kp ES_SQT     &kp ES_DQT     &kp ES_IEXCL     &kp ES_EXCL    &kp ES_HASH    &trans
    &to CONF    &trans                &kp ES_LBKT         &kp ES_RBKT     &trans         &kp ES_ORDF    &kp ES_MIDDOT    &trans         &trans         &trans
                                                          &trans          &trans         &trans         &trans
            >;
        };

        navigation {
            bindings = <
    &trans    &trans    &kp K_VOL_DN    &kp K_VOL_UP    &kp K_MUTE    &kp HOME    &kp PG_DN    &kp PG_UP    &kp END      &trans
    &trans    &trans    &kp K_PREV      &kp K_NEXT      &kp K_PP      &kp LEFT    &kp DOWN     &kp UP       &kp RIGHT    &sk LSHIFT
    &trans    &trans    &kp C_BRI_DN    &kp C_BRI_UP    &kp C_MENU    &sk LALT    &sk LCTRL    &kp TAB      &super       &sk RALT
                                        &trans          &trans        &trans      &trans
            >;
        };

        config {
            bindings = <
    &bootloader    &trans    &trans    &trans    &trans    &bt BT_CLR      &bt BT_SEL 2    &out OUT_TOG    &trans    &bootloader
    &sys_reset     &trans    &trans    &trans    &trans    &bt BT_SEL 0    &bt BT_SEL 3    &trans          &trans    &sys_reset
    &to ALPHA      &trans    &trans    &trans    &trans    &bt BT_SEL 1    &bt BT_SEL 4    &trans          &trans    &trans
                                       &trans    &trans    &trans          &trans
            >;
        };
    };
};
